
    <!-- <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4"> -->
        <!-- <mat-grid-list cols="2" rowHeight="4:4"> -->
            <div style="top:0px;left:300px;height:60px;width:1200px;position:absolute;">
                <form  [formGroup]="form" (ngSubmit)="search()">
                    <input formControlName="search" style="left:250px;top:15px;width:500px;height:20px;position:absolute;">
                    <button type="submit" style="left:770px ;top:15px;position:absolute;height:20px;">Submit</button>
                </form>
            </div>
            <div style="width:1669px;height:120px;"></div>
            
            <div style="top:160px;left:170px;" ></div>
                <div  fxFlex *ngFor="let course of listOfCourses" >
                    <!-- <div style="width=100%;height:740px;background-image:url(bg.jpg)" >> -->
                        <div class="courseBox"style="top:20%;position:relative" >
                            <img src={{course.img}} style="position:absolute;top:15px;width:100px;height:100px;">
                            <p style="position:absolute;font-size:30px;left:35%;top:20%">{{course.name}}</p>
                            <button  routerLink ="/website" style="width:100px;height:50px;position:absolute;left:65%;top:35%" (click)="onclick(course.course_Id)">ClickHere</button>
                            <nav *ngIf="admin()">
                                <button type="image" routerLink = "/course" (click)="DeleteCourse(course.course_Id)" style="background-color: crimson; width:100px;height:50px;position:absolute;left:85%;top:35%">DELETE</button>
                            </nav>
                        </div><br>
                        
            
            </div> 
